.hero {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  position: relative;
  color: white;
  transition: background-image 1.5s ease-in-out; /* smooth image change */
  /* padding: 0 120px  */
}
body html{
  overflow-x: hidden;
}

/* Dark overlay */
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  max-width: 700px;
  padding: 20px;
}

.hero-content h4 {
  font-size: 2rem;
  margin: 6px 0;
  /* margin-bottom: 15px; */
  
}

.hero-content p {
  /* font-size: 1.2rem; */
  /* margin-bottom: 25px; */
}

.hero-btn {
  background-color: #042b8eff;;
  border: none;
  color: white;
  padding: 12px 28px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.hero-btn:hover {
  background-color: white;
  color: #042b8eff;
  transition: 0.5s;
}

@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 2rem;
  }

  .hero-content p {
    font-size: 1rem;
  }
}
